body {
    background-color: #19123B
}

@media(min-width:600px){
    .form-container-w{
        width:600px;
    }

}

@media(max-width:600px){
    .img-width{
        width:100%;
    }
}

.white-font{
    color:white;
}

.gray-font{
    color:#57557A;
}

.prp-font{
    color:#4f2a79;

}


.form-control{
    border: 1px solid #57557A;
    border-radius: 3px;
    background: #212042;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color:white;
}

.form-group label{
    color:white;
}

.img-width{
    margin-top:50px;
    object-fit: contain;
    height:350px;
    display: block;
    margin: auto;
    text-align: center;
}

.btn-custom{
    display: block;
    margin: auto;
    text-align: center;
    background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    border: none;
    border-radius: 50px;
    color:white;
    font-weight: bold;
    width: 300px;
}

.btn-custom:hover{
    color:white;
}

.form-layout {
    border: none;
    border-top: 5px solid rgb(176, 106, 252);
    background: #212042;
    color: #57557A
}

.bcg-purple {
    background-color: #19123B;
}

.scd-purple{
    background:#212042;
}

.scd-puple:hover{
    background: red

}

.acc-transform{
    border-bottom: 5px solid rgb(176, 106, 252);

}

.acc-transform:hover{
    background-color: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    color: #57557A;
}

.acc-transform:hover{
    color:white;
    text-decoration:none;
}

.acc-transform a{
    color:white;
    text-decoration: none;
}

.clr-purple{
    color:#212042;
}

input:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}

input:focus {
    outline: none;
}

input:focus:invalid {
    box-shadow: none;
}

#error-email {
    color: crimson;
}

footer {
    margin-top: 100px;
    border-top: 1px solid white; 
    text-align: center;
    color: white;
}