body {
    background-color: #19123B
}

.card {
    border: none;
    border-top: 5px solid rgb(176, 106, 252);
    background: #212042;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    width: 350px;
    height: 300px;
}

p {
    font-weight: 600;
    font-size: 15px
}




.division span {
    font-weight: 600;
    font-size: 14px
}

.myform {
    padding: 0 25px 0 33px
}

.form-control {
    border: 1px solid #57557A;
    border-radius: 3px;
    background: #212042;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.form-control:focus {
    border: 1px solid #57557A;
    border-radius: 3px;
    box-shadow: none;
    background: #212042;
    color: #fff;
    letter-spacing: 1px
}

.btn-primary {
    background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    border: none;
    border-radius: 50px
}

.btn-primary:focus {
    box-shadow: none;
    border: none
}

small {
    color: #F2CEFF
}

input:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}

input:focus {
    outline: none;
}

input:focus:invalid {
    box-shadow: none;
}

span {
    color: crimson;
}