.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-top: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: gold;
    border-radius: 20px;
    box-shadow: 0 0 1em gold;
}

img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}

input {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}

::placeholder {
    text-align: center;
}

button {
    background-color: gold;
    color: black;
    width: 80%;
    height: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #19123B;
    margin-left: auto;
    margin-right: auto;
}